.CardView {
  color: white;
  display: inline;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CardView--alpha {
  background-color: #043175;
}

.CardView--beta {
  background-color: #7e0202;
}

.CardView--selected {
  border: 2px solid goldenrod;
}

.CardView--alpha.CardView--canMoveBackward {
  border-top: 3px solid #00b400;
}

.CardView--beta.CardView--canMoveBackward {
  border-bottom: 3px solid #00b400;
}
