.ElementMatrix {
  border: 1px solid black;
  border-collapse: collapse;
}

.ElementMatrixCell {
  width: calc(0.12 * var(--minor-axis));
  height: calc(0.035 * var(--minor-axis));

  border: 1px solid black;
  vertical-align: top;
}

.ElementMatrixCell--empty {
  background-color: #c5c5c5;
}
