.ElementMatrixCell {
  width: calc(0.07 * var(--minor-axis));
  height: calc(0.07 * var(--minor-axis));
}

.ElementMatrixCell--empty {
  background-color: #c5c5c5;
}

.CardComponent {
  display: inline;
}

.CardComponent--alpha {
  background-color: #043175;
}

.CardComponent--alpha.CardComponent--promoted {
  background-color: #5f92df;
}

.CardComponent--beta {
  background-color: #7e0202;
}

.CardComponent--beta.CardComponent--promoted {
  background-color: #e64f4f;
}

.CardComponent--selected {
  border: 2px solid goldenrod;
}
