.CardComponent {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.CardComponent--selected {
  background-color: bisque;
}

.CardComponent--promoted {
  color: red;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table,
td {
  border: 1px solid black;
  vertical-align: top;
  border-collapse: collapse;
}

.TurnIndicatorLight {
  background-color: green;
}
