.Board {
  border: 1px solid black;
  border-collapse: collapse;
}

.BoardCell {
  border: 1px solid black;
}

.Plies {
  list-style-type: none;
}

.Inline {
  display: inline;
}

.InvalidNumber {
  color: red;
}
